body {
    font-family: Arial, sans-serif;
    background-image: url(https://img.freepik.com/free-photo/vivid-blurred-colorful-wallpaper-background_58702-3719.jpg?semt=ais_hybrid&w=740&q=80);
}

h1 {
    color: #333;
}

.card {
    border-radius: 15px;
}

#result {
    color: #007bff;
}

#status {
    font-weight: bold;
}
